.row-cus1 {
    background-color: #2DFF55;
    margin-right: 0px;
  	margin-left: 0px;
}

.row-cus2 {
    background-color: #FF2D95;
    margin-right: 0px;
  	margin-left: 0px;
}

.row-cus2-col-md-4-cus {
    background-color: #9800D1;
    margin-right: 0px;
  	margin-left: 0px;
}

.row-cus3 {
    background-color: #545454;
    margin-right: 0px;
  	margin-left: 0px;
}

.row-cus4 {
    background-color: #2D41FF;
    margin-right: 0px;
  	margin-left: 0px;
}
