/*Format for Section in web*/
body {
font-family: Arial, sans-serif;
font-size: 100%
}
header {
border: dotted;
border-width: .5px;
border-color: blue;
}
main {
border: dotted;
border-width: .5px;
border-color: red;
}
footer {
border: dotted;
border-width: .5px;
border-color: green;
}
/*Format for content*/
h1 {
}
h2 {
}
ul {
list-style-type: square
}
#copyright {
font-size: 75%;
text-align: right
}
.base_color {
color: blue
}
header img {
/*display: block;*/
width: 80px;
height: 80px;
}
h2~img {
width: 75px;
height: 75px;
}