/*Format for Section in web*/
body {
  font-family: Verdana,Arial,Helvetica, sans-serif;
  font-size: 100%
}

header img {
  width: 80px;
  float: left;
}

header h2{
  font-size: 170%;
  color: #800000;
  margin: 30px;
}

header h3{
  font-size: 130%;
  font-style: italic;
  margin:; 30px;
}

main h2~img {
	width: 75px;
	height: 75px;
}