/*Format for Section in web*/
body {
  font-family: Arial, sans-serif;
  font-size: 100%
}

header {
  border: dotted;
  border-width: .5px;
  border-color: blue;
}

main {
  border: dotted;
  border-width: .5px;
  border-color: red;
}

footer {
  border: dotted;
  border-width: .5px;
  border-color: green;
}

/*Format for content*/
h1 {
}

h2 {
}

ul {
  list-style-type: square
}

#copyright {
  font-size: 75%;
  text-align: right
}

.base_color {
  color: blue
}

img {
  display: block;
  width: 80px;
  height: 80px;
}

.cleanForm {
    width: 800px;
}

fieldset > label > input > button {
    display: block;
}

label {
    margin: 10px;
    padding: 5px;
}

fieldset > label {
    float: left;
    width: 200px;
}

button {    
    margin: 30px;
    margin-left: 0px;
}

input[type="text"], input[type="email"], input[type="password"] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);

    padding: 5px;
}
